<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name> db </param-name>
        <param-value> jdbc:derby://localhost:1527/guappo </param-value>
    </context-param>
    <context-param>
        <param-name> pass </param-name>
        <param-value> root </param-value>
    </context-param>
    <context-param>
        <param-name> admin </param-name>
        <param-value> root </param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>filters.Init</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>servlet.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApplyFilter</servlet-name>
        <servlet-class>servlet.ApplyFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlet.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetPassword</servlet-name>
        <servlet-class>servlet.resetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCart</servlet-name>
        <servlet-class>servlet.addCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminateFromCart</servlet-name>
        <servlet-class>servlet.EliminateFromCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUsername</servlet-name>
        <servlet-class>servlet.ChangeUsername</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfile</servlet-name>
        <servlet-class>servlet.ChangeProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReview</servlet-name>
        <servlet-class>servlet.CreateReview</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApplyFilter</servlet-name>
        <url-pattern>/ApplyFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetPassword</servlet-name>
        <url-pattern>/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCart</servlet-name>
        <url-pattern>/addCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminateFromCart</servlet-name>
        <url-pattern>/EliminateFromCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUsername</servlet-name>
        <url-pattern>/ChangeUsername</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfile</servlet-name>
        <url-pattern>/ChangeProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReview</servlet-name>
        <url-pattern>/CreateReview</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <dependency>
        <groupId>com.sun.mail</groupId>
        <artifactId>javax.mail</artifactId>
        <version>1.5.6</version>
    </dependency>
</web-app>
